name: Publish Package to npmjs

on:
  workflow_run:
    workflows: [Node.js CI]
    types: [completed]
    branches: [main]

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  publish_to_npm:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      -
        name: Checkout repository
        uses: actions/checkout@v6
      -
        name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '18.18.0'
          registry-url: 'https://registry.npmjs.org'
      -
        name: Check if package version has changed
        id: check
        run: |
          LATEST_VERSION=$(npm view . version)
          CURRENT_VERSION=$(node -p "require('./package.json').version")
          if [ "$LATEST_VERSION" != "$CURRENT_VERSION" ]; then
            echo "Version changed from $LATEST_VERSION to $CURRENT_VERSION"
            echo "VERSION_CHANGED=true" >> $GITHUB_OUTPUT
          else
            echo "Version unchanged"
            echo "VERSION_CHANGED=false" >> $GITHUB_OUTPUT
          fi
      -
        name: Cancelling
        uses: andymckay/cancel-action@0.5
        if: ${{ steps.check.outputs.VERSION_CHANGED == 'false' }}
      -
        name: Install dependencies
        if: ${{ steps.check.outputs.VERSION_CHANGED == 'true' }}
        run: npm ci
      -
        name: Publish to npm
        if: ${{ steps.check.outputs.VERSION_CHANGED == 'true' }}
        run: npm publish --access public
